*{
    margin: 0;
}
html{
    width: 600px;
    height: 1161px;
    margin: 0 auto;
    position: relative;
}


/* typography */

i{
    cursor: pointer;
}

.header-content > h2{
    font-size: 39px;
}

.header-content > p{
    font-size: 22.4px;
    padding-top: 10px;
}

.fa-plus{
    font-size: 27px;
    color: gray;
    margin-right: 35px;
    margin-left: auto;
    margin-top: 10px;
    height: 30px;
    width: 22px;
}

.fa-plus:hover{
    color: rgb(206, 46, 25);
    font-weight: 600;
}

/* header */
header{
    width: 600px;
    height: 167px;
    color: white;
    font-family: 'Smythe', cursive;
    background-image:url(header-image.png)
}

.header-content{
    padding: 31px 0 0 46px;
}


/* main & content */

main{
padding: 20px 0 0 0;
}

.item-container{
    display: flex;
    margin: 40px auto 0 auto;
    gap: 40px;
    width: 508px;
    height: 140px;
    border-bottom: 1px solid #D2D2D2;
}

.item-container-inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Smythe', cursive;
}

.food-img{
    width: 70px;
    height: 89px;
    font-size: 70px;
}

.food-name{
    font-weight: 400;
    font-size: 28px;
}

.food-price{
    font-weight: 400;
    font-size: 20px;
}

.food-ingredients{
    font-size: 16px;
    color: #8B8B8B;
}

/* order div*/

#order-field{
    display: none;
    padding: 50px;
}
.orders-container{
    flex-direction: column;
    width: 508px;
    font-family: 'Smythe', cursive;
    font-size: 28px;
}

.your-order-title {
    text-align: center;
    padding-bottom: 30px;
}

button {
    width: 100%;
    border: transparent;
    border-radius: 3px;
    height: 60px;
    background-color: #16DB99;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
}

.order-items{
    display: flex;
    padding-bottom: 10px;
    gap: 8px;
    align-items: end;
}

.order-price{
    margin-left: auto;
    font-size: 20px;
}

.remove-btn{
    font-family: 'Verdana';
    cursor: pointer;
    color: #D2D2D2;
    font-size: 12px;
}
.remove-btn:hover{
    color: darkred;
    opacity: 0.5px;
}

.total-price{
    display: flex;
    border-top: 2px solid;
    padding-top: 10px;
    padding-bottom: 45px;
    align-items: end;
}

/* PAYMENT CHECKOUT MODAL */

#payment-checkout-modal{
    display: none;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 115px rgb(95, 95, 95);
}

.checkout-modal-inner form{
    display:flex;
    flex-direction: column;
    gap: 18px;
    padding: 40px;
}

input{
    display: flex;
    padding: 15px;
    width: 90%;
    align-self: center;
    text-align: center;
}

.modal-title{
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

.fixed{
    position: absolute;
    top: 280px;
    right: 100px;
}

/* THANKS MODAL */

.thanks-modal{
    background-color: #ECFDF5;0
    text-align: center;
}