*{
    margin: 0;
}
html{
    width: 600px;
    height: 1161px;
    margin: 0 auto;
}

/* typography */

i{
    cursor: pointer;
}

.header-content > h2{
    font-size: 39px;
}

.header-content > p{
    font-size: 22.4px;
    padding-top: 10px;
}

.fa-plus{
    font-size: 27px;
    color: gray;
    margin-right: 35px;
    margin-left: auto;
    margin-top: 10px;
    height: 30px;
    width: 22px;
}

.fa-plus:hover{
    color: rgb(206, 46, 25);
    font-weight: 600;
}

/* header */
header{
    width: 600px;
    height: 167px;
    color: white;
    font-family: 'Smythe', cursive;
    background-image:url(header-image.png)
}

.header-content{
    padding: 31px 0 0 46px;
}


/* main & content */

main{
padding: 20px 0 0 0;
}

.item-container{
    display: flex;
    margin: 40px auto 0 auto;
    gap: 40px;
    width: 508px;
    height: 140px;
    border-bottom: 1px solid #D2D2D2;
}

.item-container-inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Smythe', cursive;
}

.food-img{
    width: 70px;
    height: 89px;
    font-size: 70px;
}

.food-name{
    font-weight: 400;
    font-size: 28px;
}

.food-price{
    font-weight: 400;
    font-size: 20px;
}

.food-ingredients{
    font-size: 16px;
    color: #8B8B8B;
}

/* order div*/
.orders-container{
    padding: 30px;
}